<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.login.mapper.UserMapper">
<!--    新增用户-->
    <insert id="insertUser" parameterType="user">
        insert into login (id,name,password) values (#{id},#{name},#{password})
    </insert>

<!--    根据id查用户-->
    <select id="selectUserById" resultType="com.example.login.bean.User" parameterType="int">
        select * from login where id = #{id}
    </select>

<!--    根据用户名查用户-->
    <select id="selectUserByName" resultType="com.example.login.bean.User" parameterType="string">
        select * from login where name = #{name}
    </select>
</mapper>